<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Diabetes Predictor</title>
  <link rel="stylesheet" href="/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Sen:wght@700&display=swap" rel="stylesheet">
</head>

<body>
  <header class="headr">
    <nav class="navbar">
      <div class="hihi" id="logo">
        <img src="/diabetes/logodb (2).png" alt="" height="50px" width="50px" id="logoimg">
      </div>
      <div class="hihi" id="diab">
        <h1>Diabetes Prediction</h1>
      </div>
    </nav>
  </header>
  <div class="conte">
    <h1 id="conh">Diabetes</h1>
    <div class="huhu">
      <p id="conp">Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high.
        Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the
        pancreas, helps glucose from food get into your cells to be used for energy. Sometimes your body doesn’t make
        enough—or any—insulin or doesn’t use insulin well. Glucose then stays in your blood and doesn’t reach your
        cells.</p>
      <p id="conp">
        Over time, having too much glucose in your blood can cause health problems.
        Although diabetes has no cure, you can take steps to manage your diabetes and stay healthy.
        Sometimes people call diabetes “a touch of sugar” or “borderline diabetes.” These terms suggest that someone
        doesn’t really have diabetes or has a less serious case, but every case of diabetes is serious.</p>
      </p>
    </div>

  </div>
  <br>
  <hr>
  <div class="container">
    <h1>Prediction Form</h1>

    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
      <div class="ent">High BP:</div>
      <div class="divi">
        <input type="text" name="HighBP" placeholder="Enter (0/1)" required="required" />
      </div>
      <div class="ent">High Cholestrol:</div>
      <div class="divi">
        <input type="text" name="HighChol" placeholder="Enter (0/1)" required="required" />
      </div>
      <div class="ent">Cholestrol Check:</div>
      <div class="divi">
        <input type="text" name="CholCheck" placeholder="Enter (0/1)" required="required" />
      </div>
      <div class="ent">BMI:</div>
      <div class="divi">
        <input type="text" name="BMI" placeholder="Enter BMI" required="required" />
      </div>
      <div class="ent">Smoker:</div>
      <div class="divi">
        <input type="text" name="Smoker" placeholder="Enter (0/1)" required="required" />
      </div>
      <div class="ent">Stroke:</div>
      <div class="divi">
        <input type="text" name="Stroke" placeholder="Enter (0/1)" required="required" />
      </div>
      <div class="ent">Heart Disease:</div>
      <div class="divi">
        <input type="text" name="HeartDiseaseorAttack" placeholder="Enter (0/1)" required="required" />
      </div>
      <div class="ent">Physical Activity:</div>
      <div class="divi">
        <input type="text" name="PhysActivity" placeholder="Enter (0/1)" required="required" />
      </div>
      <div class="ent">Fruits:</div>
      <div class="divi">
        <input type="text" name="Fruits" placeholder="Enter (0/1)" required="required" />
      </div>
      <div class="ent">Veggies:</div>
      <div class="divi">
        <input type="text" name="Veggies" placeholder="Enter (0/1)" required="required" />
      </div>
      <div class="ent">Alcohol Consmp:</div>
      <div class="divi">
        <input type="text" name="HvyAlcoholConsump" placeholder="Enter (0/1)" required="required" />
      </div>
      <div class="ent">Any Health care:</div>
      <div class="divi">
        <input type="text" name="AnyHealthcare" placeholder="Enter (0/1)" required="required" />
      </div>
      <div class="ent">No Doc BC Cost:</div>
      <div class="divi">
        <input type="text" name="NoDocbcCost" placeholder="Enter (0/1)" required="required" />
      </div>
      <div class="ent">General Health:</div>
      <div class="divi">
        <input type="text" name="GenHlth" placeholder="Enter (1/2/3/4/5)" required="required" />
      </div>
      <div class="ent">Mental Health:</div>
      <div class="divi">
        <input type="text" name="MentHlth" placeholder="Enter MentHlth" required="required" />
      </div>
      <div class="ent">Physical Health:</div>
      <div class="divi">
        <input type="text" name="PhysHlth" placeholder="Enter PhysHlth" required="required" />
      </div>
      <div class="ent">Diff Walk:</div>
      <div class="divi">
        <input type="text" name="DiffWalk" placeholder="Enter (0/1)" required="required" />
      </div>
      <div class="ent">Sex:</div>
      <div class="divi">
        <input type="text" name="Sex" placeholder="Enter (0=M/1=F)" required="required" />
      </div>
      <div class="ent">Age:</div>
      <div class="divi">
        <input type="text" name="Age" placeholder="Enter Age" required="required" />
      </div>
      <div class="ent">Education:</div>
      <div class="divi">
        <input type="text" name="Education" placeholder="Enter Education" required="required" />
      </div>
      <div class="ent">Income:</div>
      <div class="divi">
        <input type="text" name="Income" placeholder="Enter Income" required="required" />
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-large" class="btn" id="bty">Predict</button>
    </form>

  </div>
  <div class="result">
    {{prediction_text}}
  </div>

</body>

</html>

<!-- <div class="login"> -->